#server:
#  port: ${ | 8080}
spring:
  application:
    name: kunnect
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update # 유의
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
  web:
    resources:
      static-locations: file:/var/www/

jwt:
  issuer: ${JWT_ISS}
  secret_key: ${JWT_SECRET}

vapid:
  public-key: "BMxYc4VVWD5OGG8WuOipZNnHKLQQIZKPRy-KLjJ-9KJ7fQ3dCsJ_aBBtX7VHhNJPm8rg1VxlQKJtMQ5WPYzBzxQ"
  private-key: "abc123def456ghi789jklmnopqrstuvwxyz"

