name: Java CI/CD with Gradle

on:
  push:
    branches: [ "main"]
  pull_request:
    branches: [ "main", "develop"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: false
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
    
    - name: Change wrapper permissions
      working-directory: ./backend
      run: chmod +x gradlew
    
    - name: Build with Gradle
      working-directory: ./backend
      run: ./gradlew build
    
    # Deploy to server
    - name: Deploy to Server
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        port: ${{ secrets.PORT }}
        script: |
          sudo -u ${{secrets.PERSON}} /home/${{secrets.PERSON}}/${{secrets.SH}}
